@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.block-right {
  width: max-content;
  margin-left: auto;
}
